@import '~antd/dist/antd.less';
@import '~nprogress/nprogress.css';
@import './first-banner-slider.less';
@import './custom-prefix.less';
@import './menu-component.less';

// For the full set of variables https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

.ant-menu-vertical{
  border: none;
}

.ant-layout-content{
  padding: 0 !important;
}

.active-selected{
  background-color: rgb(217, 211, 223);
}

@primary-color: #006f97;
@accent-1: #3abfef;
@accent-2: #006f97;
@accent-3: #ac9605;
@accent-4: #004870;
@accent-5: #e1e1e1;
@accent-white: #ffffff;
@font-primary: "PlayfairDisplay-Regular";
@font-secondary: "PlayfairDisplay-SemiBold";
@font-molle: 'Molle';
@font-opensan: 'OpenSans-Regular';
@font-roboto-light: 'Roboto-Light';
@font-roboto: 'Roboto-Regular';
@font-opensan-semi: 'OpenSans-SemiBold';

.font-molle{
  font-family: @font-molle;
}
.font-opensan{
  font-family: @font-opensan;
}
.bg-primary {
  background-color: @primary-color;
}
.bg-accent-1 {
  background-color: @accent-1;
}
.bg-accent-2 {
  background-color: @accent-2;
}
.bg-accent-3 {
  background-color: @accent-3;
}
.bg-accent-4 {
  background-color: @accent-4;
}

.color-primary {
  color: @primary-color;
}
.color-accent-1 {
  color: @accent-1;
}
.color-accent-2 {
  color: @accent-2;
}
.color-accent-3 {
  color: @accent-3;
}
.color-accent-4 {
  color: @accent-4;
}
.hover-yellow:hover {
  color: @accent-3;
}

// .font-primary {
//   font-family: @theme-font;
//   font-weight: bold;
// }

html {
  font-size: 100%;
}
body {
  font-size: 14px;
  font-family: @font-primary;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 { 
  color: inherit; 
  // line-height: 1; 
  margin-bottom: 0.5em;
  line-height: 1.4;
  font-weight: 500;
}
h6 { font-size: 10px; }
h5 { font-size: 14px; }
h4 { font-size: 20px; }
h3 { font-size: 24px; }
h2 { font-size: 42px; }
h1 { font-size: 60px; }
a {
  color: @primary-color;
  &:hover {
    color: @accent-2;
  }
}


strong {
  font-weight: bold;
}

.hover-primary:hover {
  color: @primary-color !important;
}

.hover-primary-border:hover {
  border: 3px solid @primary-color;
}

.wrap {
  max-width: 1140px;
  margin: auto;
}
.wrap-xs {
  max-width: 727px;
  margin: auto;
}


.wrap-large {
  max-width: 1260px;
  margin: auto;
}
.pad,
.pad-y,
.pad-top {
  padding-top: 50px;
}
.pad,
.pad-y,
.pad-btm {
  padding-bottom: 50px;
}
.pad,
.pad-x,
.pad-left {
  padding-left: 80px;
}
.pad,
.pad-x,
.pad-right {
  padding-right: 80px;
}

.app {
  min-height: 100vh;
}

.capitalize {
  text-transform: capitalize;
}

#nprogress {
  .bar {
    background: @accent-2;
    height: 5px;
  }
  .spinner-icon {
    width: 24px;
    height: 24px;
    border: solid 3px transparent;
    border-top-color: @accent-2;
    border-left-color: @accent-2;
  }
  .peg {
    box-shadow: 0 0 10px @accent-2, 0 0 5px @accent-2;
  }
  .spinner {
    right: initial;
    left: 20px;
    top: 20px;
  }
}
.ant-layout {
  background: #fff;
}
.ant-layout-header {
  background: transparent;
  height: auto;
  line-height: 1;
  padding: 0;
  width: 100%;
  z-index: 1;
  .right-drawer-buttons {
    float: right;
  }
}