@import '~antd/dist/antd.css'; 
@import '~nprogress/nprogress.css';
@import './first-banner-slider.css';

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@layer utilities {
  .p-12{
    padding: 12px;
  }
}

.ant-menu-vertical{
  border: none;
}

.active-selected{
  background-color: rgb(217, 211, 223);
}
